header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--background);
    height: 60px;
    padding-top: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.section-header {
    padding-top: 32px;
    padding-bottom: 8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 16px;
}

@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }
    
    .nav-list {
        flex-wrap: wrap;
        gap: 8px;
    }
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.logo {
    margin: 0;
    font-size: 24px;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

/* .nav-item {
    margin: 0 16px;
} */

.nav-link {
    color: var(--gray);
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
}

.nav-link:hover {
    color: var(--white);
}

.nav-link[href="index.html"] {
    color: var(--white);
}

.nav-link::before {
    content: '#';
    color: var(--primary);
    margin-right: 1px;
}

.main-container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 112px;
    padding: 0 16px;
}

@media (max-width: 768px) {
    .main-container {
        gap: 64px;
    }
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 18px;
    margin-top: 62px;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    
    .hero-image {
        margin-top: 32px;
    }
}

.hero-content {
    flex: 1;
}

.hero-content h2 {
    font-size: 32px;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .hero-content h2 {
        font-size: 24px;
    }
    
    .hero-content p {
        font-size: 18px;
    }
}

.hero-content span {
    color: var(--primary);
}

.hero-content p {
    font-size: 24px;
}



.hero-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}


.purple-square {
    width: 16px;
    height: 16px;
    background-color: var(--primary);
}

.portfolio-note-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--gray);
    padding: 8px;
    width: 402px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .portfolio-note-wrapper {
        width: 100%;
    }
}

.portfolio-note {
    font-size: 16px;
    margin: 0;
}

.portfolio-note span{
    color: var(--white);
    font-weight: bold;
}


/* Quote Section */

.quote {
    text-align: center;
    border: 1px solid var(--gray);
    margin: 0 auto;
    position: relative;
    max-width: 100%;
}

.quote blockquote {
    color: var(--white);
    font-size: 24px;
    padding: 32px;
    margin: 0;
}

@media (max-width: 768px) {
    .quote blockquote {
        font-size: 18px;
        padding: 24px;
    }
}

.quote blockquote::before, .quote blockquote::after {
    content: '"';
    position: absolute;
    color: var(--gray);
    font-style: italic;
    top: -20px;
    font-size: 56px;
    font-weight: bold;
    background-image: linear-gradient(var(--background), var(--background));
    background-size: 100% 45%;
    background-repeat: no-repeat;
}

.quote blockquote::before {
    top: -20px;
    left: 20px;
}

.quote blockquote::after {
    top: 73px;
    right: 20px;
}

.quote figcaption {
    position: absolute;
    color: var(--gray);
    font-size: 24px;
    padding: 16px;
    border: 1px solid var(--gray);
    border-top: none;
    right: -1px;
    background-color: var(--background);
}

@media (max-width: 768px) {
    .quote figcaption {
        position: static;
        border-top: 1px solid var(--gray);
        margin-top: 16px;
    }
}


/* Social links */

.social-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 17px;
    top: 0;
    gap: 8px;
    z-index: 50;
}

@media (max-width: 768px) {
    .social-links {
        display: none;
    }
}

.social-links-line {
    width: 1px;
    height: 191px;
    background-color: var(--gray);
}

.social-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.social-links ul li a {
    display: block;
    transition: transform 0.3s ease;
}

.social-links ul li a:hover {
    transform: translateY(-3px);
}

.social-links ul li a img {
    width: 24px;
    height: 24px;
    display: block;
}

/* Home page image */
.front-image {
  position: absolute;
  bottom: -10px;      /* pushes image outside container */
  left: 0%;
  width: 44px;
  z-index: 2;
}

.front-image2 {
  position: absolute;
  bottom: -1400px;      /* pushes image outside container */
  left: 0%;
  width: 125px;
  z-index: 1;
}

.front-image3 {
  position: absolute;
  bottom: -1900px;      /* pushes image outside container */
  left: 0%;
  width: 115px;
  z-index: 1;
}

.front-image4 {
  position: absolute;
  bottom: -72px;      /* pushes image outside container */
  right: 0%;
  width: 115px;
  z-index: 1;
}

.front-image5 {
  position: absolute;
  bottom: -1094px;      /* pushes image outside container */
  right: 0%;
  width: 103px;
  z-index: 1;
}

.front-image6 {
  position: absolute;
  bottom: -100px;      /* pushes image outside container */
  right: 0%;
  width: 91px;
  z-index: 1;
}

/* works page */
.front-works-image {
  position: absolute;
  bottom: -10px;      /* pushes image outside container */
  left: 0%;
  width: 30px;
  z-index: 1;
  height: 90px;
}

.front-works-image2 {
  position: absolute;
  bottom: -900px;      /* pushes image outside container */
  left: 0%;
  width: 60px;
  height: 105;
  z-index: 1;
}

.front-works-image3 {
  position: absolute;
  bottom: -400px;      /* pushes image outside container */
  left: 0%;
  width: 125px;
  z-index: 1;
}

/* Contacts */
.front-contacts-image3 {
  position: absolute;
  bottom: 700px;      /* pushes image outside container */
  left: 0%;
  width: 105px;
  z-index: 1;
}


/* Projects Section */

.projects {
    display: flex;
    flex-direction: column;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header h2 {
    position: relative;
}

.section-header h2::before {
    content: "#";
    color: var(--primary);
}

.section-header h2::after {
    content: "";
    background-color: var(--primary);
    width: 500px;
    height: 1px;
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translate(100%, -50%);
    max-width: calc(100vw - 600px);
}

@media (max-width: 1200px) {
    .section-header h2::after {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .section-header h2::after {
        display: none;
    }
}

.section-header a {
    color: var(--white);
    text-decoration: underline;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: start;
}

@media (max-width: 1024px) {
    .project-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .project-cards {
        grid-template-columns: 1fr;
    }
}

.project-card {
    border: 1px solid var(--gray);
    transition: transform 0.3s ease, border-color 0.3s ease;
    background-color: var(--background);
}

.project-card:hover {
    transform: translateY(-4px);
    border-color: var(--primary);
}

.project-card img {
    border: 1px solid var(--gray);
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.project-cards ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    color: var(--gray);
    border-bottom: 1px solid var(--gray);
    margin: 0;
    padding: 8px;
}

.project-info {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-info h3 {
    font-size: 24px;
    margin: 0;
}

.project-info p {
    margin: 0;
}

.project-links {
    display: flex;
    gap: 16px;
}

.project-links button {
    margin: 0;
    white-space: nowrap;
}

.project-links button a {
    color: var(--white);
    text-decoration: none;
}

.contact-button {
    margin-top: 24px;
    font-size: 16px;
}

/* Skills */
.skills {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.skills-content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

@media (max-width: 1024px) {
    .skills-content {
        flex-direction: column;
    }
    
    .skills-content img {
        max-width: 100%;
        height: auto;
    }
}

.skills-cards {
    display: flex;
    gap: 16px;
}

.skill-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skill-category {
    border: 1px solid var(--gray);
    max-width: 300px;
    min-width: 200px;
    transition: border-color 0.3s ease;
}

.skill-category:hover {
    border-color: var(--primary);
}

.skill-category h4 {
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid var(--gray);
    border-left: none;
    border-right: none;
    border-top: none;
}

.skill-category ul {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    gap: 8px;
    color: var(--gray);
    margin: 0;
}

/* About section */

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.about-skills-cards {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about-text {
    max-width: 515px;
}

.about-text p {
    margin-bottom: 27px;
}

.about-content img {
    max-width: 339px;
    width: 100%;
    height: auto;
    animation: upAndDownAnimation 4s ease-in-out infinite;
}

@keyframes upAndDownAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


/* Contact section */

.contact-content {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    gap: 32px;
}

@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
    }
}

.contact-content p {
    max-width: 505px;
    margin-top: 0;
}

.contacts-card {
    border: 1px solid var(--gray);
    padding: 16px;
    transition: border-color 0.3s ease;
}

.contacts-card:hover {
    border-color: var(--primary);
}

.contacts-card h4 {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 600;
}

.contact {
    color: var(--gray);
    display: flex;
    gap: 9px;
    align-items: center;
    margin-bottom: 8px;
}

.contact img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

/* Footer section */

footer {
    border: 1px solid var(--gray);
    padding: 32px 0;
    margin-top: 145px;
}

.footer-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 16px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        gap: 24px;
    }
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 9px;
}

.footer-logo h4 {
    margin: 0;
}

.footer-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-logo-wrapper  a {
    color: var(--primary);
    transition: color 0.5s ease-in;
}

.footer-logo-wrapper  a:hover {
    color: var(--white);
    font-weight: 500;
}

.footer-media h3 {
    margin-bottom: 12px;
    margin-top: 0;
    font-size: 24px;
    font-weight: 500;
}

.footer-media a {
    display: inline-block;
    margin-right: 12px;
    transition: transform 0.3s ease;
}

.footer-media a:hover {
    transform: translateY(-3px);
}

.footer-media a img {
    width: 24px;
    height: 24px;
}

.copyright {
    text-align: center;
    margin: 48px 0 32px 0;
}


/* Works page */
.works {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 53px;
}

.works h2 {
    margin-bottom: 14px;
}

.works h2::before {
    content: "/";
    color: var(--primary);
}

.works p {
    font-size: 16px;
    color: var(--white);
    margin-top: 0;
    margin-bottom: 68px;
}

.completed-projects-header h2 {
    margin-bottom: 48px;
}

.completed-projects-header h2::before {
    content: "#";
    color: var(--primary);
}

.small-category {
    max-width: 300px;
    min-width: 200px;
}
.small-category ul {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    gap: 8px;
    color: var(--gray);
    margin: 0;
    border: 1px solid var(--gray);
}

.small-category-header {
    margin: 16px;
    max-width: 300px;
    min-width: 200px;
}

.small-category-header h3 {
    color: var(--white);
    margin: 0;
    padding: 8px;
    font-size: 24px;
}

.small-category-header p {
    padding: 0 8px 8px 8px;
    margin: 0;
}

.project-links-button {
    margin: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.project-links-button button {
    margin: 0;
}

.small-skills-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: start;
}

@media (max-width: 1024px) {
    .small-skills-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .small-skills-cards {
        grid-template-columns: 1fr;
    }
}


/* About Page */

.about-main-container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 16px;
}

.about-skill-category {
    border: 1px solid var(--gray);
    max-width: 300px;
    min-width: 200px;
    transition: border-color 0.3s ease;
    margin: 8px;
}

.about-skill-category h4 {
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid var(--gray);
    border-left: none;
    border-right: none;
    border-top: none;
}

.about-skill-category ul {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    gap: 8px;
    color: var(--gray);
    margin: 0;
}
    
.about-funfacts-section {
    display: flex;
    justify-content: space-between;
    
}

.about-funfacts-cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 156px;
}

.about-fun-facts {
    border: 1px solid var(--gray);
    max-height: 37px;
    margin: 5px;
}

.about-fun-facts p{
    margin: 8px;
}


/* Image optimization */
img {
    max-width: 100%;
    height: auto;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Focus visible for accessibility */
*:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
}

/* Contacts */

